@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
body {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-family: "Poppins";
}

.red-li{
  color: #EBEBEB;
  font-weight: 400px;
  font-size: 14px;
  line-height: 20px;
  font-family: Mulish;
}

.red-ul{
  font-family: sora;
}

.scroll-style::-webkit-scrollbar-thumb:hover {
  background-color: #EC796B;
}

.scroll-style::-webkit-scrollbar-thumb:active {
  background-color: #EC796B;
}

.scroll-style::-webkit-scrollbar-track {
  background-color: #04041B;
}

.scroll-style::-webkit-scrollbar-thumb {
  background: #EC796B;
}

.scroll-style::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}


.scroll-none::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}

.scroll-none::-webkit-scrollbar-thumb:active {
  background-color: transparent;
}

.scroll-none::-webkit-scrollbar-track {
  background-color: transparent;
}

.scroll-none::-webkit-scrollbar-thumb {
  background: transparent;
}

.scroll-none::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.modal-home {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  animation: fadeIn ease-in 0.1s;
  z-index: 9999;
}
.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0A0A2099;
  backdrop-filter: blur(10px);
  /*-webkit-backdrop-filter: blur(10px); */
}
.modal-body {
  padding: 24px 10px;
  background-color: #04041B;
  margin: auto;
  position: relative;
  border: #fffcf9;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.05);
  animation: growth linear 0.1s;
  max-width: 520px;
  width: 100%;
  border-radius: 40px;
}

.modal-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 30px;
  font-size: 20px;
}


